  <div class="card">
    <div class="card-body">
      <%= @question %>
      <p>-You</p>
    </div>
  </div>
   <div class="card">
    <div class="card-body">
      <%= @answer %>
      <p>-Your coach</p>
    </div>
  </div>

  <%= link_to "Ask a new question", ask_path %>

