<h5>Ask your coach anything :</h5>
<form class="form-inline" action="/answer" method="get">
  <div class="form-group mr-3 mb-2">
    <input type="text" class="form-control" name="question">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
</form>
